<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.framework.demo">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />


    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name=".DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.FlowLayoutActivity" />
        <activity android:name=".activity.ScrollLayoutActivity" />
        <activity android:name=".activity.ExplosionActivity" />
        <activity android:name=".activity.NumberSeekBarActivity" />
        <activity
            android:name=".activity.StatusBarColorActivity"
            android:theme="@style/ColorStatusBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <activity
            android:name=".activity.design.AppCompatTestActivity"
            android:theme="@style/Theme_TestAppCompat"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".activity.design.CoordinatorLayoutActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".activity.design.AppBarLayoutActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".activity.design.SwipeDismissBehaviorActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".activity.design.AnimatedVectorDrawableActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".activity.design.CardViewActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".activity.design.BottomSheetActivity"
            android:theme="@style/BaseAppTheme" />

        <activity
            android:name=".activity.nolib.NotificationActivity"
            android:theme="@style/Theme_TestAppCompat" />
        <activity android:name=".activity.nolib.HandlerThreadActivity" />
        <activity android:name=".activity.nolib.IntentServiceActivity" />
        <activity android:name=".activity.nolib.LayoutWeightActivity" />
        <activity
            android:name=".activity.nolib.RippleActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".activity.nolib.TabLayoutActivity"
            android:theme="@style/Theme_TabLayoutAppCompat" />
        <activity
            android:name=".activity.nolib.AnimatorActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".activity.nolib.AlertDialogActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".activity.nolib.InsetClipActivity"
            android:theme="@style/BaseAppTheme" />
        <activity android:name=".activity.BounceLoadingActivity" />
        <activity android:name=".activity.CircleLoadingActivity" />

        <activity
            android:name=".activity.BottomBarActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".activity.SlideViewPagerActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".activity.InputLinearLayoutActivity"
            android:theme="@style/BaseAppTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activity.SwipRefreshLayoutActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".activity.PinnedHeaderExpandableListViewActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".activity.SaveStateViewActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".activity.OkHttpActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".activity.shader.ShaderActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".activity.colormatrix.ColorMatrixActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".activity.LevelImageViewActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".activity.viewdemo.PriceRangeActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".activity.viewdemo.DragScoreViewActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".activity.viewdemo.ImageOuterTextViewActivity"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".activity.FuseImageActivity"
            android:theme="@style/BaseAppTheme" />

        <activity
            android:name=".activity.utildemo.PermissionUtilDemoActivity"
            android:theme="@style/BaseAppTheme" />

        <service android:name=".service.PlayMusicIntentService" />
        <service android:name=".widget.WeatherService" />
        <service android:name=".service.NotificationService" />

        <receiver android:name=".widget.WeatherAppWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/weather_app_widget_info" />
        </receiver>

    </application>

</manifest>
